.whiteboard {
  min-height: calc(100vh + 1px);
  width: 100vw;
  color: var(--black);
}
.button_emoji {
  cursor: pointer;
  margin-left: 8px;
}
.hero {
  height: 100vh;
  padding: 100px var(--margin) 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: visible;
  position: relative;

  .hero_content {
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: relative;
    gap: 64px;
    .text {
      max-width: 55%;
    }
    .writing {
      position: absolute;
      bottom: -24px;
      opacity: 0.6;
      font-weight: 500;
      font-size: 14px;
      font-style: italic;
      b {
        font-weight: 600;
      }
    }
    .last {
      overflow: hidden;
    }
  }
}
