.container {
  width: 100%;
  background-color: var(--white);
  background-image: radial-gradient(#c8cbff31 2px, #ffffff31 2px);
  background-size: 30px 30px;
  position: relative;

  .control {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 24px 48px 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 1000;
  }

  .top_control {
    position: fixed;
    top: -100px;
    transition-property: top;
    transition-duration: 0.4s;
    &.fixed {
      top: 32px;
    }
  }

  .restart {
    left: var(--margin);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;
    * {
      cursor: pointer;
      transform-origin: 14px 15px;
      width: 100%;
      height: 100%;
    }
  }

  .bottom_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    $margin: var(--margin);
    $height: 120px;
    height: $height;
    width: calc(100% - (2 * $margin));
    border-radius: 30px;
    position: absolute;
    $bottom: 40px;
    inset: auto $margin $bottom;

    &.fixed {
      position: fixed;
      inset: auto $margin $bottom;
      margin: 0;
    }
  }

  .stop_mark {
    inset: auto 0 -1px 0;
    position: absolute;
    width: 100%;
    height: 1px;
  }
}
